.hover-underline:hover {
  text-decoration: underline;
}

.hover-pointer:hover {
  cursor: pointer;
}

.se-msg {
  position: fixed;
  left: 50%;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  line-height: 16px;
  border: 1.4px solid;
  border-radius: 8px;
  transition: all 0.3s;
  transform: translateX(-50%);
}

.se-msg-content {
  max-width: 80vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.se-msg-icon {
  margin-right: 10px;
  font-size: 16px;
  line-height: 16px;
}

.se-msg-close {
  margin-left: 10px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.se-msg-num {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: content-box;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  border: 1.4px solid;
  border-radius: 7px;
  box-shadow: -1px 1px 1px #0002;
  transform: translate(50%, -50%);
}

.se-msg-success {
  color: #2ecc71;
  background-color: #d7f5d1;
  border-color: #a8ebc4;
}

.se-msg-success .se-msg-icon span {
  color: #2ecc71;
}

.se-msg-close-success:hover,
.se-msg-close-success span {
  color: #29b765;
}

.se-msg-num-success {
  background-color: #d7f5d1;
  border-color: #a8ebc4;
}

.se-msg-warning {
  color: #f39c12;
  background-color: #fceebc;
  border-color: #fad9a4;
}

.se-msg-warning .se-msg-icon span {
  color: #f39c12;
}

.se-msg-close-warning:hover,
.se-msg-close-warning span {
  color: #e08e0b;
}

.se-msg-num-warning {
  background-color: #fceebc;
  border-color: #fad9a4;
}

.se-msg-danger {
  color: #e74c3c;
  background-color: #fbdbe8;
  border-color: #f8c9c4;
}

.se-msg-danger .se-msg-icon span {
  color: #e74c3c;
}

.se-msg-close-danger:hover,
.se-msg-close-danger span {
  color: #e43725;
}

.se-msg-num-danger {
  background-color: #fbdbe8;
  border-color: #f8c9c4;
}

.se-msg-info {
  color: #3498db;
  background-color: #cbf6f2;
  border-color: #b6daf2;
}

.se-msg-info .se-msg-icon span {
  color: #3498db;
}

.se-msg-close-info:hover,
.se-msg-close-info span {
  color: #258cd1;
}

.se-msg-num-info {
  background-color: #cbf6f2;
  border-color: #b6daf2;
}

.se-msg-mini {
  transform: translateX(-50%) scale(0.6);
}

.se-msg-small {
  transform: translateX(-50%) scale(0.8);
}

.se-msg-default {
  transform: translateX(-50%) scale(1);
}

.se-msg-large {
  transform: translateX(-50%) scale(1.2);
}
