.se-msg_icon {
    font-family: iconfont !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.se-msg_icon-close::before {
    content: '\e646';
}

.se-msg_icon-success::before {
    content: '\e657';
}

.se-msg_icon-warning::before {
    content: '\e840';
}

.se-msg_icon-danger::before {
    content: '\e659';
}

.se-msg_icon-info::before {
    content: '\e6e5';
}

.se-msg_icon-download::before {
  content: '\e703';
}
