@font-face {
    font-family: iconfont; /* Project id  */
    src: url('./icon-font.ttf') format('truetype');
}

.se-icon {
    font-family: iconfont !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.se-icon-close::before {
    content: '\e646';
}

.se-icon-success::before {
    content: '\e66f';
}

.se-icon-warning::before {
    content: '\e670';
}

.se-icon-danger::before {
    content: '\e66e';
}

.se-icon-info::before {
    content: '\e67d';
}
