.hover-underline:hover {
  text-decoration: underline;
}

.hover-pointer:hover {
  cursor: pointer;
}

.se-img-preview-toolbar-root {
  position: relative;
  overflow: hidden;
  color: #fffa;
  background-color: #0004;
  backdrop-filter: blur(10px);
  border-radius: 999px;
  box-shadow: 0 0 10px #0004;
}

.se-img-preview-toolbar-root.se-img-preview-toolbar-noModal {
  background-color: #0006;
  border: 1.4px solid #fff6;
}

.se-img-preview-toolbar-root ul {
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  margin: 0;
  list-style: none;
  cursor: default;
  transition: all 0.3s;
}

.se-img-preview-toolbar-root ul li {
  display: flex;
  margin-right: 10px;
  font-size: 12px;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  transition: all 0.3s;
}

.se-img-preview-toolbar-root ul li button {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  color: #fffa;
  cursor: pointer;
  background-color: #0000;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: all 0.3s;
}

.se-img-preview-toolbar-root ul li button > div {
  padding: 5px;
}

.se-img-preview-toolbar-root ul li button:last-child {
  margin-right: 0;
}

.se-img-preview-toolbar-root ul li button:hover {
  color: #ffff;
  background-color: #0002;
}

.se-img-preview-toolbar-root ul li button span {
  margin: 0;
  line-height: 48px;
  color: #fffa;
  white-space: nowrap;
  transition: all 0.3s;
}

.se-img-preview-toolbar-root ul li button:hover span {
  color: #ffff;
}

.se-img-preview-toolbar-root ul li span.se-img-preview-toolbar-pagination {
  margin: 0 10px;
  font-size: 12px;
  white-space: nowrap;
  cursor: text;
  transition: all 0.3s;
}

.se-img-preview-toolbar-root
  ul
  li
  span.se-img-preview-toolbar-pagination:hover {
  color: #ffff;
}

.se-img-preview-toolbar-root ul li form input {
  height: 32px;
  padding: 0 10px;
  margin: 0 10px;
  font-size: 12px;
  color: #fffa;
  text-align: center;
  appearance: textfield;
  appearance: none;
  background-color: #0002;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s;
}

.se-img-preview-toolbar-root ul li form input::-webkit-inner-spin-button,
.se-img-preview-toolbar-root ul li form input::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.se-img-preview-toolbar-root ul li form input:hover {
  color: #ffff;
  background-color: #0004;
}

.se-img-preview-toolbar-root ul li:last-child {
  margin-right: 0;
}
