.hover-underline:hover {
  text-decoration: underline;
}
.hover-pointer:hover {
  cursor: pointer;
}
.se-contextmenu {
  min-width: 120px;
  min-height: 200px;
  background-color: #fff;
  border: 1px solid #00000055;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
}
