// Your component styles here
@import url("../../base/index.less");
// 基础样式
.se-tag {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  margin: 2px;
  font-size: 14px;
  line-height: 1.5;
  cursor: default;
  user-select: none;
  border-radius: 4px; // 默认的圆角
  transition: all 0.3s ease-in-out;

  &__close-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #f56c6c; // Hover color
    }
  }
}

// 状态样式
.se-tag--success {
  color: #67c23a;
  background-color: #f0f9eb;
}

.se-tag--info {
  color: #909399;
  background-color: #f4f4f5;
}

.se-tag--warning {
  color: #e6a23c;
  background-color: #fdf6ec;
}

.se-tag--danger {
  color: #f56c6c;
  background-color: #fef0f0;
}

.se-tag--primary {
  color: white;
  background-color: #409eff;
}

.se-tag--default {
  color: #909399;
  background-color: #e4e7ed;
}

// 形状样式
.se-tag--round {
  border-radius: 12px; // 圆角
}

.se-tag--square {
  border-radius: 0; // 方角
}

// 标签大小样式
.se-tag--small {
  padding: 2px 6px;
  font-size: 12px;
}

.se-tag--medium {
  padding: 4px 10px;
  font-size: 14px;
}

.se-tag--large {
  padding: 6px 12px;
  font-size: 16px;
}

// 隐藏标签
.se-tag--hide {
  opacity: 0;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  transform: scale(0.9);
}

// 自定义插槽样式
.se-tag__close-icon {
  display: inline-block;
  margin-left: 6px;
  font-size: 14px;
  color: #909399;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #f56c6c; // Hover color for the close icon
  }
}
