// Your component styles here
@import url('../../base/index.less');
.se-table-container {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.se-table-header {
  display: flex;
  //background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.se-table-row {
  display: flex;
  border-bottom: 1px solid #eee;
}

.se-table-row:hover {
  background-color: #f9f9f9;
}

.se-table-cell {
  flex: 1;
  padding: 10px;
  text-align: left;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}

.se-table-cell:last-child {
  border-right: none;
}
