.se-card {
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;

  &--bordered {
    border: 1px solid #ddd;
  }

  &--hoverable:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  }

  &--default {
    color: #333;
    background-color: #fff;
  }

  &--primary {
    color: #fff;
    background-color: #409eff;
  }

  &--secondary {
    color: #333;
    background-color: #f5f5f5;
  }

  &--success {
    color: #fff;
    background-color: #67c23a;
  }

  &--warning {
    color: #fff;
    background-color: #e6a23c;
  }

  &--danger {
    color: #fff;
    background-color: #f56c6c;
  }

  .se-card-icon {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .se-card-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .se-card-content {
    font-size: 14px;
  }

  .se-card-footer {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
  }
}
