// Your component styles here
@import url('../../base/index.less');

@seMiniMsgColorMap: {
  success: @success-color,
      lighten(saturate(spin(@success-color, -35%), 1), 40%);
  warning: @warning-color,
      lighten(saturate(spin(@warning-color, 10%), 1), 35%);
  danger: @error-color, lighten(saturate(spin(@error-color, -30%), 1), 35%);
  info: @brand-color-primary,
      lighten(saturate(spin(@brand-color-primary, -30%), 1), 35%);
};
    
.se-msg-mini-root {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: 999;

  & .se-msg-mini {
    position: absolute;
    height: 32px;
    transition: all .3s;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    font-size: initial;
    border: 1.4px solid;
    border-radius: 8px;
    line-height: 32px;
    backdrop-filter: blur(10px);
    padding: 0 8px;
    animation-name: showMiniMsg;
    animation-iteration-count: 1;
    animation: showMiniMsg .2s;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    each(@seMiniMsgColorMap,{
      &.se-msg-mini-@{key} {
        color: extract(@value, 1);
        border-color: lighten(extract(@value, 1), 30%);
        background-color: extract(@value, 2);
      }
    })

  }
}

@keyframes showMiniMsg {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}