@import url("../../base/index.less");

.se-img-preview-direct-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.se-img-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  // z-index: 999;

  & .se-img-preview-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0006;
    transition: all 0.3s;
    animation: showPreview 0.3s;
    animation-name: showPreview;
    animation-iteration-count: 1;
  }

  & .se-img-preview-img {
    overflow: visible;

    & .se-img-preview-img-item {
      position: absolute;
      cursor: grab;
      transition:
        left 0.3s ease-in-out,
        top 0.3s ease-in-out,
        width 0.3s ease-in-out,
        height 0.3s ease-in-out,
        min-width 0.3s ease-in-out,
        min-height 0.3s ease-in-out,
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;

      &.se-img-preview-img-only-preview {
        animation: showPreview 0.3s;
      }

      &.se-img-preview-img-item-noModal {
        filter: drop-shadow(0 0 6px #3333);
        // border: 1px solid #000000;
        // width: 400px;
      }
    }
  }

  & .se-img-preview-toolbar {
    position: fixed;
    top: calc(100vh - 80px);
    left: 50vw;
    transition: all 0.3s;
    transform: translateX(-50%);
    animation: showToolbar 0.3s;
    animation-name: showToolbar;
    animation-iteration-count: 1;
  }

  & .se-img-preview-close {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #0003;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    transition: all 0.3s;

    & > div {
      padding: 2px;
    }

    &:hover {
      background-color: #0005;
    }
  }

  & .se-img-preview-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

@keyframes showPreview {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showToolbar {
  0% {
    transform: translateX(-50%) translateY(200%);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}
