@import url('../../base/index.less');

.se-button {
    box-sizing: border-box;
    display: inline-block;
    padding: @spacing-s @spacing-m;
    margin: 0;
    font-size: @font-size-normal;
    font-weight: 500;
    line-height: 1;
    color: @brand-color-primary;
    text-align: center;
    white-space: nowrap;
    appearance: none;
    cursor: pointer;
    background: @bg-color-primary;
    border: 1px solid @border-color-primary;
    border-radius: @border-rounded;
    outline: none;
    transition: 0.1s;
}

.se-button.se-button--primary {
    color: @text-color-white;
    background-color: @brand-color-primary;
    border-color: @brand-color-primary;

    &:hover {
        color: @text-color-white;
        background: darken(@brand-color-primary, 10%);
        border-color: darken(@brand-color-primary, 10%);
    }
}
